*{  
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Oswald', sans-serif;
}
#container{
    background-color: rgb(170, 186, 192);
    top: 100px;
    height: 328px;
    width: 185px;
    margin: auto auto;
    border: 2px solid rgb(64, 70, 72);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#display{
    padding: 2px 2px;
    user-select: none;
    background-color: aliceblue;
    border:  2px solid rgb(64, 70, 72);
    position: absolute;
    top: 0px;
    margin-right: 2px;
    width: 180px;
    height: 100px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}
#pad{
    border: 1px solid rgb(64, 70, 72);
    position: absolute;
    top:100px;
    width: 185px;
    height: 228px;
    align-content: center;
    padding: 0px 1px;
}
.num{
    font-size: 30px;
    margin: 2px;
}
#my{
    
    border: 1px solid rgb(170, 186, 192) ;
    width: 45px;
    height: 45px;
    float: left;
    margin: 0px;
}
#pan{
    cursor: pointer;
    user-select: none;
    outline: none;
    border-color: rgb(170, 186, 192);
    height: 40px;
    width: 40px;
    font-weight: bold;
}
